[submodule "libraries/humla/src/main/jni/opus"]
	path = libraries/humla/src/main/cpp/third_party/opus
	url = https://github.com/xiph/opus
[submodule "celt-0.7.0"]
	path = libraries/humla/src/main/cpp/third_party/celt-0.7.0
	url = https://gitlab.com/quite/celt.git
[submodule "celt-0.11.0"]
	path = libraries/humla/src/main/cpp/third_party/celt-0.11.0
	url = https://gitlab.com/quite/celt.git
[submodule "libraries/humla/src/main/cpp/third_party/speex"]
	path = libraries/humla/src/main/cpp/third_party/speex
	url = https://github.com/xiph/speex
[submodule "libraries/humla/src/main/cpp/third_party/speexdsp"]
	path = libraries/humla/src/main/cpp/third_party/speexdsp
	url = https://github.com/xiph/speexdsp
[submodule "libraries/humla/src/main/cpp/third_party/rnnoise"]
	path = libraries/humla/src/main/cpp/third_party/rnnoise
	url = https://github.com/xiph/rnnoise
[submodule "libraries/humla/src/main/cpp/third_party/webrtc-audio-processing"]
	path = libraries/humla/src/main/cpp/third_party/webrtc-audio-processing
	url = https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git
[submodule "libraries/humla/src/main/cpp/third_party/abseil-cpp"]
	path = libraries/humla/src/main/cpp/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
