# Gradle / Android Studio
build/
.idea/
.gradle/
*.iml
signing.gradle

# Eclipse
bin/
gen/
.settings/
.classpath
.project

# Android
local.properties

# Java
*.class
.direnv/

# Created by the CI before_script, and by anyone running the same commands locally.
.nix-cache/
.devshell

# Left behind by every Kotlin build.
.kotlin/
